{% if data.widget._profile %}
<article class="kwsites-instagram-widget">
   {%- if data.widget.title %}<header>{{ data.widget.title }}</header>{% endif -%}
   <ul data-column-count="{{ data.widget.columns }}">
      {%- set media = data.widget._profile.media -%}
      {%- set limit = data.widget.limit if (data.widget.limit > 0) else media.length -%}
      {%- set thumbnails = data.widget._profile.media.slice(0, limit) -%}

      {%- for thumbnail in thumbnails -%}
         {%- include "thumbnail.html" -%}
      {%- endfor -%}
   </ul>
</article>
{% endif %}
